.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
}

.text-center {
  text-align: center;
}

.entry-spacing {
  margin-top: 200px;
}

.add-entry {
  padding: 10px 40px;
}

.add-entry:hover {
  cursor: pointer;
  background-color: rgb(156 188 237);
}

.add-entry:active {
  transform: translateY(0.25rem);
}

.space-between {
  justify-content: space-between;
}

.column-third {
  width: calc(100% / 3);
}
